In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
url='http://sukrubezen.com/kodluyoruz/work.php'
data=[]
for i in range(30):
    r=requests.get(url,headers={"User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.87 Safari/537.36"})
    soup=str(bs(r.text,'html.parser'))
    data.append(soup)
new_data=[]
for i in range(len(data)):
    deneme=str(data[i])
    res = [a for b in deneme.split() for a in (b, ' ')][:-1]
    print((' ' in res),i)
    for j in range(res.count(' ')):
        res.remove(' ')
    new_data.append(res)

True 0
True 1
True 2
True 3
True 4
True 5
True 6
True 7
True 8
True 9
True 10
True 11
True 12
True 13
True 14
True 15
True 16
True 17
True 18
True 19
True 20
True 21
True 22
True 23
True 24
True 25
True 26
True 27
True 28
True 29

In [2]:
new_data; # veri burada

In [3]:
new_data1=[]

In [4]:
for i in range(len(new_data)):
    new_data1.append(list(map(int,new_data[i])))

In [5]:
import numpy as np

In [6]:
np.shape(new_data1)

(30, 129)

In [66]:
df=pd.DataFrame(new_data1,columns=np.arange(1,130))

In [67]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,120,121,122,123,124,125,126,127,128,129
0,2213704,8587689,9479318,4594370,957403,7123332,1544596,1545588,3408178,6815080,...,5157474,7715197,1912001,8560909,5687414,1302354,4181824,7048676,8250978,345512511
1,2540435,422665,2964293,4475552,5063462,5441841,9939520,7489223,9787667,7640837,...,8652833,2125744,3753751,5042791,3825222,5030533,3083446,3278162,2357203,317686273
2,4098593,6208961,5808067,916479,9244576,7754931,9317577,9493780,984104,3399217,...,7742288,6136664,7874112,7078663,2711387,5041528,1848935,9333488,8194489,349979467
3,6405205,9240922,5720145,2579168,2495498,1894479,8524940,285427,1019117,2233531,...,5836189,6256824,7517113,6700138,4668569,2981457,5722175,5107875,3613661,349985954
4,6138747,2150749,1405404,3177373,7712847,8388749,8569892,1407771,2115754,8702002,...,2495519,4502530,6226336,3879310,8576947,7710652,6960314,2363773,7710713,361360901

In [68]:
df.corr(method ='pearson').head(1130)

,1,2,3,4,5,6,7,8,9,10,...,120,121,122,123,124,125,126,127,128,129
1,1.000000,0.065133,-0.017400,0.030410,0.043561,-0.082023,0.161463,0.016655,0.035320,0.236264,...,-0.286422,-0.172112,0.002308,-0.256066,0.034250,-0.057830,-0.107280,-0.122194,0.229990,-0.064520
2,0.065133,1.000000,0.304968,0.203581,-0.018948,-0.249857,-0.157209,-0.031864,0.000825,-0.211155,...,-0.071179,-0.056357,0.186512,0.285832,0.054459,-0.195201,0.071661,0.155425,0.018038,0.216558
3,-0.017400,0.304968,1.000000,-0.365530,0.108966,-0.133159,0.040694,-0.015393,-0.268593,-0.106843,...,0.187374,0.075621,0.105275,-0.002068,-0.300183,-0.099138,-0.056343,0.433278,0.013274,0.315709
4,0.030410,0.203581,-0.365530,1.000000,0.048189,-0.087838,-0.088183,-0.068394,0.331982,0.154846,...,-0.096821,-0.153684,-0.080886,0.013249,0.282759,0.183281,0.246464,-0.096722,0.110031,0.203857
5,0.043561,-0.018948,0.108966,0.048189,1.000000,0.239949,0.158768,-0.367619,-0.010262,-0.085389,...,-0.035936,-0.038587,0.123384,-0.006800,0.092387,0.068269,-0.090651,-0.082946,-0.006451,-0.037253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125,-0.057830,-0.195201,-0.099138,0.183281,0.068269,0.105062,-0.173069,0.104858,0.063497,0.031484,...,0.138004,0.176930,-0.068522,-0.078058,-0.016148,1.000000,0.184885,0.111323,0.205608,0.363323
126,-0.107280,0.071661,-0.056343,0.246464,-0.090651,-0.083145,-0.074576,-0.111308,0.042914,-0.315277,...,-0.163296,0.328679,0.214935,-0.140670,-0.295609,0.184885,1.000000,-0.250186,0.034136,0.223442
127,-0.122194,0.155425,0.433278,-0.096722,-0.082946,-0.115336,-0.028229,-0.016911,-0.210103,-0.016389,...,-0.003274,-0.122257,-0.297619,-0.129363,-0.164507,0.111323,-0.250186,1.000000,0.335510,0.348769
128,0.229990,0.018038,0.013274,0.110031,-0.006451,-0.010939,0.057166,0.020373,0.073629,0.208852,...,-0.469536,0.275718,-0.133931,-0.200608,-0.256320,0.205608,0.034136,0.335510,1.000000,0.362332
129,-0.064520,0.216558,0.315709,0.203857,-0.037253,-0.347998,0.117679,-0.070868,0.178997,-0.156412,...,-0.139156,0.192969,0.111629,0.047243,-0.047961,0.363323,0.223442,0.348769,0.362332,1.000000

In [181]:
veri=df.iloc[0][0:128].values

In [183]:
veri

array([2213704, 8587689, 9479318, 4594370,  957403, 7123332, 1544596,
       1545588, 3408178, 6815080, 6737989, 4321286, 2954781, 1621623,
       3226430, 5990215, 9885858, 1229816, 8389874, 6853102, 8288019,
       5592850, 2596025, 5306248, 3509703, 3840781,  192481, 6613813,
       9788547, 6552793, 7954099, 2002250, 5140482, 7433416, 6595621,
       6096886, 4556747, 8139217, 7641475, 7963926, 4954296, 4379463,
       2285211, 7908078, 6000087, 5510642, 3898292, 5885945, 6739458,
       2288166, 2739046, 5027476, 7880016, 5334071,  333724, 1389719,
       9173853,  525205, 8002532, 8962399, 7076999, 5956630,  964649,
       2217481, 3390046, 7559270, 8313367, 7945793, 5698486, 5954841,
       5909718,  652782,  334304, 8193930, 8559860, 6333392, 3704571,
       2458152, 2219336,  444029, 4745318, 4957382, 5470506, 2625334,
        291453, 5803230, 4014054, 9464306, 6327435, 2016586, 8426705,
       3404434, 7972217, 9390354, 5620916, 1362262, 6949624, 3934282,
       9307055, 2648109, 9888124, 5216773, 3299892,  222428, 3410703,
       1859752, 6554820, 7114274, 4316904, 8773156, 7557304, 9061223,
       3730538, 3027809, 1686557, 4020991, 8830039, 5699611, 3485296,
       5157474, 7715197, 1912001, 8560909, 5687414, 1302354, 4181824,
       7048676, 8250978], dtype=int64)

In [72]:
from itertools import combinations
conbine=list(combinations())

33

In [157]:
total=0
sayi=0
for i,j in enumerate(list(df.corr(method ='pearson').iloc[-1]>0.097)):
    if j and i!=128:
        total+=df[i][0]
        sayi+=1

In [158]:
df

348170180

In [159]:
df[129][0]

345512511

In [160]:
sayi

64

In [107]:
res = [i for j in deneme.split() for i in (j, ' ')][:-1]

In [51]:
res[0]

'6843710'

In [168]:
type(new_data[0][128])

str

In [69]:
data_new1=pd.Dataframe(new_data,sep=' ')

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [67]:
import pandas as pd

In [161]:
import math

In [165]:
deneme_problem=[1,2,3,4,6,8,9,3,4,6,4,8,19]

In [166]:
sum(deneme_problem)

77