In [201]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
url='http://sukrubezen.com/kodluyoruz/work.php'
data=[]
for i in range(30):
    r=requests.get(url,headers={"User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.87 Safari/537.36"})
    soup=str(bs(r.text,'html.parser'))
    data.append(soup)
new_data=[]
for i in range(len(data)):
    deneme=str(data[i])
    res = [a for b in deneme.split() for a in (b, ' ')][:-1]
    print((' ' in res),i)
    for j in range(res.count(' ')):
        res.remove(' ')
    new_data.append(res)

True 0
True 1
True 2
True 3
True 4
True 5
True 6
True 7
True 8
True 9
True 10
True 11
True 12
True 13
True 14
True 15
True 16
True 17
True 18
True 19
True 20
True 21
True 22
True 23
True 24
True 25
True 26
True 27
True 28
True 29

In [202]:
new_data; # veri burada

In [203]:
new_data1=[]

In [204]:
for i in range(len(new_data)):
    new_data1.append(list(map(int,new_data[i])))

In [205]:
import numpy as np

In [206]:
np.shape(new_data1)

(30, 129)

In [207]:
df=pd.DataFrame(new_data1)

In [208]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
0,1366163,8159115,6099471,6982252,4725957,3313860,2272297,8291915,3753472,656471,...,5492949,1040444,8095012,5186114,4889605,5987875,7726866,5639212,7508185,325047177
1,9412720,8024506,4416584,9530339,7823187,8122257,8384024,2347565,9419390,5105527,...,438052,2958200,8100063,2695311,9114781,3283755,4739142,984975,5987581,314969273
2,2538535,2844552,5868783,9986276,2825525,1442569,8870245,1618896,2785823,2923980,...,6464539,7532785,1189602,4738030,7354832,784358,4837761,1016710,9041596,352814083
3,577292,4708719,7910137,7138485,9049775,918114,4080329,793620,9600115,7334681,...,4273805,1630466,2368974,6371421,1739523,6441030,2275856,7363598,4476712,332682004
4,1893031,7351883,7014885,5859519,8178779,8850714,1728200,2895010,1881267,4105208,...,707037,169432,7556484,6484925,3760676,9772572,768523,6155948,2142448,314004054

In [209]:
df.corr().head(128)

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
0,1.000000,-0.031680,-0.199192,-0.064976,-0.044420,0.072598,0.364145,-0.100435,0.269942,0.069551,...,-0.242780,0.236244,0.173788,-0.055094,0.301639,-0.239300,0.094632,-0.161997,0.290932,-0.015277
1,-0.031680,1.000000,-0.080878,0.038756,-0.138527,0.409141,0.129332,0.204235,0.314703,-0.265385,...,-0.036068,-0.222936,0.444286,0.149626,0.025106,0.104144,-0.085201,-0.290507,-0.045705,-0.040127
2,-0.199192,-0.080878,1.000000,-0.147769,0.066865,0.188387,-0.263871,-0.087392,0.035739,-0.054504,...,0.168873,0.156759,-0.119815,0.181754,-0.100835,-0.331292,0.024755,-0.099873,-0.031853,-0.035788
3,-0.064976,0.038756,-0.147769,1.000000,-0.110455,-0.096683,-0.077433,-0.408128,0.262104,-0.341866,...,0.057875,-0.162850,0.010490,-0.183748,0.227395,0.013903,0.076731,-0.062594,-0.025201,-0.134042
4,-0.044420,-0.138527,0.066865,-0.110455,1.000000,0.061601,-0.092083,-0.011194,0.071356,0.351738,...,0.111344,-0.022768,0.008289,-0.055139,0.023285,-0.051879,-0.056894,0.096739,0.103806,-0.087325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,0.301639,0.025106,-0.100835,0.227395,0.023285,0.140734,-0.060724,-0.156557,0.457403,0.001277,...,-0.162605,0.182749,-0.216411,-0.364162,1.000000,-0.389838,0.224774,-0.376659,0.436338,0.017473
124,-0.239300,0.104144,-0.331292,0.013903,-0.051879,0.021718,-0.046075,0.063692,-0.161610,-0.070391,...,-0.108624,-0.537558,0.264172,-0.004764,-0.389838,1.000000,-0.103971,0.321796,-0.346198,0.064692
125,0.094632,-0.085201,0.024755,0.076731,-0.056894,-0.016769,-0.286916,-0.087729,-0.025561,-0.198151,...,-0.132751,-0.172421,0.037693,0.153090,0.224774,-0.103971,1.000000,0.310597,0.023761,0.082783
126,-0.161997,-0.290507,-0.099873,-0.062594,0.096739,-0.317477,-0.422595,-0.032861,-0.230090,0.117627,...,-0.073722,-0.286719,-0.211585,0.148352,-0.376659,0.321796,0.310597,1.000000,-0.230945,0.146094
127,0.290932,-0.045705,-0.031853,-0.025201,0.103806,-0.111462,0.337308,0.089293,0.079594,0.065635,...,0.225240,0.470330,0.189526,-0.353571,0.436338,-0.346198,0.023761,-0.230945,1.000000,-0.062182

In [210]:
for i in range(129):
    if lit(df.corr().iloc[-1]==1:
        print(i)

SyntaxError: invalid syntax (<ipython-input-210-d9828aed0fcd>, line 2)

In [211]:
true_value=list(df.corr().iloc[-1]>0.15)

In [212]:
true_value.count(True)

41

['5636907',
 '4985835',
 '3055720',
 '6330466',
 '6862245',
 '8831858',
 '686834',
 '7344332',
 '7475218',
 '6750251',
 '3902233',
 '9411040',
 '9901307',
 '6609054',
 '770963',
 '6862679',
 '8560110',
 '8645705',
 '2706317',
 '6362669',
 '145634',
 '6903776',
 '6695711',
 '2526997',
 '4942422',
 '2642196',
 '7355749',
 '3903264',
 '4392391',
 '6666197',
 '9464225',
 '29298',
 '1652032',
 '2519945',
 '6358764',
 '8513278',
 '1351802',
 '7044599',
 '5857610',
 '8826021',
 '3794849',
 '9758843',
 '8237061',
 '3696155',
 '6367897',
 '9007025',
 '558834',
 '4928006',
 '7652730',
 '3264151',
 '1290674',
 '7797365',
 '167926',
 '7985386',
 '324362',
 '5109349',
 '627582',
 '7679111',
 '9011613',
 '5018973',
 '4345308',
 '8475838',
 '5047271',
 '5996340',
 '995782',
 '1406035',
 '4509617',
 '2346585',
 '8449634',
 '367227',
 '1172605',
 '2244482',
 '126069',
 '9408667',
 '5939638',
 '6492967',
 '8415691',
 '6497473',
 '1420973',
 '6068421',
 '9760624',
 '2710647',
 '3865785',
 '9927551',
 '696033',
 '4189147',
 '5036899',
 '1322615',
 '1868257',
 '4048512',
 '6340588',
 '6212566',
 '2524349',
 '1387859',
 '2208905',
 '3519131',
 '2792894',
 '6717523',
 '5864716',
 '1242527',
 '7083751',
 '7036322',
 '3486010',
 '7208821',
 '6444988',
 '9424648',
 '3701787',
 '4860679',
 '5922120',
 '5121760',
 '929099',
 '5682744',
 '7831408',
 '4793885',
 '5610294',
 '8526441',
 '8982032',
 '647193',
 '9848057',
 '850289',
 '4694705',
 '6188644',
 '7061855',
 '7218055',
 '7575503',
 '9269761',
 '737185',
 '368396',
 '374591977']

True 0
True 1
True 2
True 3
True 4
True 5
True 6
True 7
True 8
True 9
True 10
True 11
True 12
True 13
True 14
True 15
True 16
True 17
True 18
True 19
True 20
True 21
True 22
True 23
True 24
True 25
True 26
True 27
True 28
True 29
False 30
False 31
False 32
False 33
False 34
False 35
False 36
False 37
False 38
False 39
False 40
False 41
False 42
False 43
False 44
False 45
False 46
False 47
False 48
False 49
False 50
False 51
False 52
False 53
False 54
False 55
False 56
False 57
False 58
False 59

In [107]:
res = [i for j in deneme.split() for i in (j, ' ')][:-1]

In [51]:
res[0]

'6843710'

In [135]:
new_data[0][128]

'325705581'

In [69]:
data_new1=pd.Dataframe(new_data,sep=' ')

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [67]:
import pandas as pd